.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    align-content: center;
  
  }
  


  h1 {
    font-size: 50px;
    color: #5D5D5D;
  }
  
  p {
    font-size: 20px;
    color: #5D5D5D;
  }
  :host ::ng-deep .p-button{
    font-family: 'Roboto';
    color: black;
    background-color:#D9D9D9;
    border-radius: 30px;
    font-size: 18px;
    margin: 20px;
    border: 2px solid #D9D9D9;
    padding-left: 40px;
    padding-right: 40px;
    
    
}
:host ::ng-deep .p-button:hover {
    
    background-color: #1361A0;
    border: 2px solid #1361A0;
}