<div class="card flex flex-wrap gap-3 justify-content-center">
  <h1>
    <span class="logo"><img src="assets/img/logo.png"></span>
    <span class="math">Math</span>
    <span class="flex">Flex</span>
    <span class="circle"></span>
  </h1>
  <span class="title"><b><br>Instructions</b></span>
    <body>Welcome to MathFlex! This guide will help you navigate our AI-driven adaptive learning program designed to personalize your math education journey.
      <br>
        <button class="custom-button" (click)="onStart(id)">Start</button>
    </body>
</div>
