<div class="empty"></div>

<div class="container">
  <div class="title">
    Test (Easy)
  </div>

  <div class="problem-set">
    <form [formGroup]="testForm" (ngSubmit)="onSubmit()">
        <div *ngFor="let question of questions; let i = index" class="problem">
            <h2>{{ i + 1 }}.</h2>
            <p>{{ question.problem }}</p>
            <p><input type="text" placeholder="Your answer" formControlName="answer{{ i + 1 }}" /></p>
            <div class="separator"></div>
        </div>
      <div class="submission">
        <p-button label="Go Back" type="button" (click)="refreshPage()"></p-button>
        <p-button label="Submit" type="submit"></p-button>
      </div>
    </form>
  </div>
</div>