<div  class="empty"></div>

<div *ngIf="answered == false" class="container">
  <div class="title">
    <h4>Test (Easy)</h4> 

  </div>

  <div class="problem-set">
    <form [formGroup]="testForm" (ngSubmit)="onSubmit()">
        <div *ngFor="let question of questions; let i = index" class="problem">
            <h2>{{ i + 1 }}.</h2>
            <div class="hint">
                <p>{{ question.problem }}</p>
                <span style="cursor:pointer" (click)="toggleHint(i)">HINT</span>
                <div *ngIf="showHint[i]">
                    <br><br><br>
                    <div style="display: flex; flex-direction: column;">
                    <p *ngFor="let option of question.options; let i = index" >
                     {{i+1}}: {{ option }}    
                </p>
            </div>
                </div>
              </div>
            <p><input type="text" placeholder="Your answer" formControlName="answer{{ i + 1 }}" /></p>
            <div class="separator"></div>
        </div>
      <div class="submission">
        <p-button label="Go Back" type="button" (click)="refreshPage()"></p-button>
        <p-button label="Submit" type="submit"></p-button>
      </div>
    </form>
  </div>
</div>

<app-results *ngIf="answered" [userAnswers]="userAnswers" [resultsData]="data"></app-results>