<div  class="empty"></div>

<div *ngIf="answered == false" class="container">
  <div class="title">
    <h4>Difficulty: {{difficulty}}</h4> 
    <ng-template #loading>Loading...</ng-template>
  </div>

  <div class="problem-set">
    <form [formGroup]="testForm" (ngSubmit)="onSubmit()">
        <div *ngFor="let question of questions; let i = index" class="problem">
            <h2>{{ i + 1 }}.</h2>
            <div class="hint">
                <p>{{ question.problem }}</p>
                <span style="cursor:pointer" (click)="toggleHint(i)">HINT</span>
                <div *ngIf="showHint[i]">


                    <!--hints for individual questions-->
                    <div style="display: flex; flex-direction: column;">
                      <p-button (click)=onClickHintAnswer(question.options[0],i)> A. {{question.options[0]}}</p-button>
                      <p-button (click)=onClickHintAnswer(question.options[1],i)> B. {{question.options[1]}}</p-button>
                      <p-button (click)=onClickHintAnswer(question.options[2],i)> C. {{question.options[2]}}</p-button>
                      <p-button (click)=onClickHintAnswer(question.options[3],i)> D. {{question.options[3]}}</p-button>
                    </div>
                </div>
              </div>
            <p><input type="text" placeholder="Your answer" formControlName="answer{{ i + 1 }}" /></p>
            <div class="separator"></div>
        </div>
      <div class="submission">
        <p-button label="Go Back" type="button" (click)="refreshPage()"></p-button>
        <p-button label="Submit" type="submit"></p-button>
      </div>
    </form>
  </div>
</div>

<app-results *ngIf="answered" (sendDataToParent)="receiveDataFromChild()" [userEmail]="userEmail" [difficulty]="difficulty" [totalHints]="hintCount" [userAnswers]="userAnswers" [resultsData]="data"></app-results>